// Font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

// Colors
$primary-one: #60a462;

$white: #ffffff;
$gray-01: #f5f5f5;
$gray-02: #eeeeee;
$gray-03: #cccccc;
$gray-04: #999999;
$gray-05: #666666;
$gray-06: #333333;
$gray-base: #1b1b1b1b;
